.header {
  text-align: center;
}

.card {
  padding-bottom: 4%;
}

#articlePageCard {
  width: 70%;
}

@media (max-width: 600px) {
  header {
    padding-top: 13%;
  }
  #articlePageCard {
    width: 90%;
  }
}
