.header {
  text-align: center;
}

.card {
  padding-bottom: 20px;
  border-radius: 5%;
  font-weight: bold !important;
}
.card-img-top {
  margin: auto;
  width: 99%;
  border-radius: 5%;
  border-style: none !important;
}

#articlePageCard {
  width: 70%;
  background-color: white;
  padding: 10px;
}
.avatars {
  margin-left: 10px;
  margin-right: 10px;
}
.avatarPics {
  border-radius: 10%;
}

body {
  background-color: #7ec4cc;

  font-weight: bold;
  color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 20px;
}

#login {
  width: 500px;
  height: fit-content;
  display: flex;
  color: black;
  flex-direction: column;
  background-color: #002b5980;
  padding: 15px 30px 20px 30px;
  border-radius: 4%;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}
#loginButton {
  margin: 20px auto auto auto;
  color: black;
  width: fit-content;
  background-color: salmon;
  padding: 2px 20px 2px 20px;
  border-radius: 6%;
  border-color: transparent;
  font-weight: bold;
  text-decoration: none;
}
@media only screen and (min-width: 470px) and (max-width: 575px) {
  .navbar-brand {
    font-size: medium;
  }
  #nav {
    height: 50px !important;
  }
  #articlePageCard {
    width: 90%;
  }
  #login {
    width: 400px;
  }
}
@media only screen and (min-width: 384px) and (max-width: 469px) {
  .navbar-brand {
    font-size: small;
  }
  #nav {
    height: 44px !important;
  }
  #articlePageCard {
    width: 95%;
  }
  #login {
    width: 380px;
    margin: auto;
  }
  .avatars {
    margin-left: 3px;
    margin-right: 3px;
  }
}

@media only screen and (max-width: 383px) {
  .navbar-brand {
    font-size: x-small;
  }
  #nav {
    height: 44px !important;
  }
  #articlePageCard {
    width: 95%;
  }
  #login {
    width: 300px;

    margin: auto;
  }
  .avatars {
    margin-left: 1px;
    margin-right: 1px;
  }
  .avatarPics {
    border-radius: 10%;
    width: 35px;
    height: 35px;
  }
}

#checker {
  animation: blink 1s infinite;
}

@keyframes blink {
  to {
    opacity: 0;
  }
}

.list-group-item {
  width: 100%;
  text-align: center;
  justify-self: center;
  background-color: transparent;
}
